img{
    width:100%;
}
nz-space{
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    place-content: space-evenly;
    padding: 5px;
}
nz-space-item{
    margin-top: 2px;
    padding: 2px;
    border: 1px solid transparent;
}
nz-space-item:hover{
    cursor: pointer;
    border-top: 1px black  solid;
border-bottom:1px black  solid;}