img {
  width: 100%;
}
nz-space {
  height: 100%;
  background: #fafafa;
  place-content: space-evenly;
  padding: 5px;
}
nz-space-item {
  margin-top: 2px;
  padding: 2px;
  border: 1px solid transparent;
}
nz-space-item:hover {
  cursor: pointer;
  border-top: 1px rgb(202, 202, 202) solid;
  border-bottom: 1px rgb(202, 202, 202) solid;
}
