<div nz-row [nzGutter]='20' nzAlign='middle' nzJustify='center'>
  <div nz-col  [nzXs]="{ span: 24}" [nzMd]="{ span: 15}" [nzXl]="{ span: 17}" >
    <div class='details'>
      <h1 nz-typography >
        {{film.title}} ™</h1>
      <p>{{film.description}}</p>

      <nz-divider style="border-color: white;color:white" nzText="FEATURES"></nz-divider>

      <div nz-row [nzGutter]="20">
        <div nz-col *ngFor="let feature of film?.features" [nzSpan]="6" [nzXs]="{ span:24}" [nzMd]="{ span:12}">
          <app-feature [feature]='feature'></app-feature>
        </div>
      </div>

      <nz-divider style="border-color: white;color:white" nzText="AVAILABLE VLT'S"></nz-divider>
 
      <app-shade-comparison [shades]='film.vlts'></app-shade-comparison>
    </div>
  </div>

  <div nz-col [nzXl]="{ span: 17}">
    <app-film-spec [filmSpecs]='film.variants'></app-film-spec>
  </div>
</div>