/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.compact.less";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;700&display=swap');


body{
    font-family: 'Dosis', sans-serif;
}
@table-bg: #0000005e;
@table-header-bg: #0000005e;