<nz-table #basicTable [nzData]="filmSpecs!" [nzShowPagination]='false' nzSimple [nzScroll]="{x:'1000px',y:'1000px'}" >
    <thead>
        <tr>
            <th nzWidth='79px'>Product</th>
            <th nzAlign='center'>Scratch Resistant Coating</th>
            <th>Visible Light Transmission</th>
            <th>IR Rejection</th>
            <th>Glare Reduction</th>
            <th>PLY</th>
            <th>Thickness</th>
            <th>UV Rejection</th>
            <th>Total Solar Energy Rejection</th>
            <th>Total Solar Reflected</th>
            <th>Warranty</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td nzAlign='center'>{{data.scratchResistantCoating }}</td>
            <td>{{data.visibleLightTransmission }}</td>
            <td>{{data.irRejection}}</td>
            <td>{{data.glareReduction}}</td>
            <td>{{data.ply}}</td>
            <td>{{data.thinckness}}</td>
            <td>{{data.uvRejection}}</td>
            <td>{{data.solarEnergyRejection}}</td>
            <td>{{data.solarEnergyReflected}}</td>
            <td>{{data.warranty}}</td>
        </tr>
    </tbody>
</nz-table>
