
.container{
    background: url('https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_960_720.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 2px 2px 8px 3px black;
}

.circleBase {
    border-radius: 50%;
    display: flex;
    min-height: 250px;
    margin: 20px;
}

.shade{
    text-shadow: 0px 2px 2px black;
    margin: auto;
    color: white;
    font-size: x-large;
}

