
.container{
    background: url('https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_960_720.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 2px 2px 8px 3px black;
    padding: 5px;
}

.circleBase {
    border-radius: 50%;
    display: flex;
    border: 1px solid black;
    text-shadow: 0px 2px 2px black;
    color: white;
    margin: 2px;
    min-height: 100px;
    font-size: x-large;
}

.shade{
    margin: auto;
}

